@import "bootstrap";
@import "font-awesome";
@import "simplemde.css";
@import "datepicker";

.vertical-center {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.navbar-right {
  margin-right: 0;
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 0;
padding-top: 20px;
margin-bottom: 10px;
}